html *,
html *::before,
html *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  // background-color: $col-prim-lighter;
  // color: $secon-font;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}

button {
}

.is-active {
  font-weight: 700;
}

p {
  transition: all 1s;
}

.edit {
  opacity: 0;
  transition: opacity 1s;
}

.fade {
  opacity: 1;
}

ul {
  list-style: none;
}

.calculator {
  border: solid 1px black;
  border-radius: 5px;
  max-width: 90vw;
  width: 220px;
  padding: 1.5rem 0;

  &__result {
    padding: 0.5rem 1rem;
    text-align: end;
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.486);
  }
}

.numpad {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-areas:
    "ac ce . divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero . period equals";
  padding: 0 0.5rem;

  // justify-content: center;
  // align-items: center;
  // justify-items: center;
  &__btn {
    font-size: inherit;
    display: inline-block;
    padding: 0.7rem 0;
    // width: 100%;
    background: transparent;
    border: none;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      transform: scale(1.1);
      background-color: rgba(236, 236, 236, 0.835);
    }

    &:focus {
      background-color: rgba(236, 236, 236, 0.835);
      outline: none;
      border-radius: 5px;
    }
  }

  &__value {
    &--0 {
      grid-area: zero;
    }
    &--1 {
      grid-area: one;
    }
    &--2 {
      grid-area: two;
    }
    &--3 {
      grid-area: three;
    }
    &--4 {
      grid-area: four;
    }
    &--5 {
      grid-area: five;
    }
    &--6 {
      grid-area: six;
    }
    &--7 {
      grid-area: seven;
    }
    &--8 {
      grid-area: eight;
    }
    &--9 {
      grid-area: nine;
    }
    &--period {
      grid-area: period;
    }
  }

  &__operator {
    &--add {
      grid-area: add;
    }
    &--subtract {
      grid-area: subtract;
    }
    &--divide {
      grid-area: divide;
    }
    &--multiply {
      grid-area: multiply;
    }
    &--equals {
      grid-area: equals;
    }
    &--ac {
      grid-area: ac;
    }
    &--ce {
      grid-area: ce;
    }
  }
}
