html *,
html *::before,
html *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 50%;

  // As I'm using Rems for all size values, when reducing/increasing the root html font size, it changes the size of the calculator proportionally
  @include media("mobile") {
    font-size: 62.5%;
  }
}

body {
  padding: 1rem;
  font-family: $font-stack;
  background-color: $bg-color;
  color: $numpad-color;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

// overwriting list default
ul {
  list-style: none;
}

// overwriting button defaults
.button {
  border: none;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
